.THIS .footer_btn {
    flex: 3;
    text-align: right;
}
.THIS .footer {
    margin-top: 0px;
    padding: 1em 1em 1em 0;
    display: flex;
    background: #FFF;
    justify-content: space-between;
}